/CLI.java
/CLI.jj
/CLIConstants.java
/CLITokenManager.java
/CLITreeConstants.java
/JJTCLIState.java
/Node.java
/ParseException.java
/SimpleCharStream.java
/SimpleNode.java
/Token.java
/TokenMgrError.java
